*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
/notes.txt
/metrics.log
/panoptimon.output
/sample_configs/1/plugins/status_http
/sample_configs/1/plugins/status_http.json
